.blog{
    background-color:#FF6864;
}

.blog h1{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: relative;
}
.blog h1::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color:#FFCA28;
    left: 16px;
    top: 90px;      
}
.card{
    width: 100%;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    border-radius: 10px;
}

.card1{   
    width: 314px !important; 
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

.blog p{
    color: #000;
    font-family: Alegreya;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.blog .blog_img{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 159px;
}

.blog button{
    display: inline-flex;
    padding: 4px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-family: Alegreya;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}